@import url('https://fonts.cdnfonts.com/css/latin-modern-roman');

body {
  font-family: 'Latin Modern Roman', 'Computer Modern', serif;
  font-size: 18px;
}

/* Optional: also style headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Latin Modern Roman', 'Computer Modern', serif;
}